<%- include("partials/nav") %>

<div class="container d-flex justify-content-center mt-5">
  <div class="row pt-3">
    <h1>Sign Up</h1>
    <div class="col-md-12">
      <form action="/register" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input name="email" type="email" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="roleName" class="form-label">Role</label>
          <select class="form-select" name="roleName">
            <option selected>Select Role</option>
            <option value="PlayerUser">Player User</option>
            <option value="SuperAdmin">Super Admin</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/foot") %>
